In [2]:
from sql_helper import execute_commands, get_conn_object, retrieve_table
import pandas as pd

In [3]:
conn = get_conn_object("data.db")

In [4]:
cmd = """
SELECT * FROM user;
"""

In [5]:
retrieve_table(conn, cmd)

   id name
0   1   ok

In [11]:
a = int(pd.read_sql(sql=f"SELECT id FROM user WHERE name = '{'ok'}'", con=conn)["id"])
a

1